<!-- TABLE CONTAINER -->
<div class="table-container">
  <p-table
    [value]="tableData()"
    [paginator]="true"
    [lazy]="true"
    [rows]="currentPageSize()"
    [rowsPerPageOptions]="pageSizes()"
    [totalRecords]="totalItems() || 0"
    [first]="currentPageFirstIndex()"
    (onPage)="handlePageChange($event)"
    [tableStyle]="{ 'mat-elevation-z8': true }"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (column of displayedColumns(); track column) {
        <th>{{ headers()[$index] }}</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (column of displayedColumns(); track column) {
        <td>
          @if (cellTemplatesMap()[column]; as template) {
          <ng-container
            *ngTemplateOutlet="
                  template;
                  context: {
                    $implicit: extractNestedProperty(rowData, column),
                    object: rowData,
                  }
                "
          />
          } @else {
          <ng-container
            *ngTemplateOutlet="
                  defaultCellTemplate;
                  context: {
                    $implicit: extractNestedProperty(rowData, column),
                    object: rowData,
                  }
                "
          />
          }
        </td>
        }
      </tr>
    </ng-template>
  </p-table>

  <!-- DEFAULT CELL TEMPLATE -->
  <ng-template #defaultCellTemplate let-value>
    @if (value | isDate) { {{ value | date: 'dd.MM.yyyy HH:mm' }} } @else { {{ value }} }
  </ng-template>
</div>
