<!-- title -->
<div class="view-title pb-1">
  {{
    createUserMode() ? ('user.create' | translate) : ('user.update' | translate)
  }}
</div>

<!-- user form -->
@if (form) {
  <form
    (ngSubmit)="form.valid && submit()"
    [formGroup]="form"
    class="flex-col-gap1"
  >
    <app-two-inputs-row-layout>
      <!--  first name -->

      <!--  last name -->

      <!--  email -->

      <!--  phone -->

      <!-- role -->
      <app-role-dropdown />

      <!--  active / inactive  -->
    </app-two-inputs-row-layout>

    <!--  actions  -->
  </form>
}
