@if (data) {
  <!-- title -->
  <div class="form-title">
    {{ data.title }}
  </div>

  <!-- content -->
  <div>
    {{ data.content }}
  </div>

  <!-- buttons -->
  <app-two-buttons
    [size]="size"
    [leftBtnTxt]="leftBtnTxt"
    [rightBtnTxt]="rightBtnTxt"
    [leftBtnBg]="leftBtnBg"
    [rightBtnBg]="rightBtnBg"
    [leftBtnColor]="leftBtnColor"
    [rightBtnColor]="rightBtnColor"
    (rightBtnClick)="closeDialog()"
    (leftBtnClick)="onLeftBtnClick()">
  </app-two-buttons>

} @else {
  <!-- allow custom content -->
  <ng-content />
  <!-- buttons -->
  <app-two-buttons
    [size]="size"
    [leftBtnTxt]="leftBtnTxt"
    [rightBtnTxt]="rightBtnTxt"
    [leftBtnBg]="leftBtnBg"
    [rightBtnBg]="rightBtnBg"
    [leftBtnColor]="leftBtnColor"
    [rightBtnColor]="rightBtnColor"
    (rightBtnClick)="closeDialog()"
    (leftBtnClick)="onLeftBtnClick()">
  </app-two-buttons>
}

