// Success
$success-bg: hsl(122, 37%, 90%);
$success-txt: hsl(122, 37%, 30%);

// Warn
$warn-bg: hsl(34, 73%, 83%);
$warn-txt: hsl(34, 73%, 30%);

// Error
$error-bg: hsl(0, 73%, 90%);
$error-bg-hover: hsl(0, 73%, 88%);
$error-txt: hsl(0, 73%, 30%);
