// Success
$success-bg: hsl(122, 37%, 74%);
$success-txt: hsl(122, 37%, 20%);

// Warn
$warn-bg: hsl(34, 73%, 77%);
$warn-txt: hsl(34, 73%, 20%);

// Error
$error-bg: hsl(0, 73%, 77%);
$error-txt: hsl(0, 73%, 10%);
