/*
 || Custom scss classes, globally usable (utility classes like tailwind css) ||
                                                                           */

// padding mixins -------------------------------------------- //
.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pa-1 {
  padding: 1rem;
}

// margin mixins -------------------------------------------- //

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ma-1 {
  margin: 1rem;
}

// flex mixins -------------------------------------------- //

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col-gap1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flex-1 {
  flex: 1;
}

// grid mixins -------------------------------------------- //
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

// padding wrapper -------------------------------------------- //
.padding-wrapper-2 {
  padding: 2rem;
}

// cursor mixins -------------------------------------------- //
.pointer:hover {
  cursor: pointer;
}

// font mixins -------------------------------------------- //

.white {
  color: white;
}

.black {
  color: black;
}

.f700 {
  font-weight: 700;
}

.form-title {
  font-size: var(--f-size, 1.25rem);
  padding-bottom: var(--pb, 1rem);
  @extend .f700;
}

.form-subtitle {
  font-size: var(--f-size, 1rem);
  padding-bottom: var(--pb, 0.5rem);
  color: var(--tui-text-03);
}
