// Custom scss classes, globally usable (utility classes like tailwind css) ||

//// flex mixins -------------------------------------------- //
.flex {
  display: flex;
}

.flex-a-center-g1 {
  @extend .flex, .align-center, .wrap;
  gap: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col-gap1 {
  display: flex !important;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flex-col-gap1_5 {
  display: flex !important;
  flex-direction: column;
  gap: var(--gap, 1.5rem);
}

.flex-col-gap2 {
  display: flex !important;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.flex-1 {
  flex: 1;
}

.childs-fx-1 {
  > * {
    @extend .flex-1;
  }
}

// grid mixins -------------------------------------------- //
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

// position mixins -------------------------------------------- //
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.place-center {
  place-items: center;
  place-content: center;
}

// padding wrapper -------------------------------------------- //
.padding-wrapper-2 {
  padding: 2rem;
}

// cursor mixins -------------------------------------------- //
.pointer:hover {
  cursor: pointer;
}

// font mixins -------------------------------------------- //

.white {
  color: white;
}

.black {
  color: black;
}

.f700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.form-title {
  font-size: var(--f-size, 1.25rem);
  padding-bottom: var(--pb, 1rem);
  @extend .f700;
}

.form-subtitle {
  font-size: var(--f-size, 1rem);
  padding-bottom: var(--pb, 0.5rem);
}

.view-title {
  min-height: 45px;
  @extend .f700;

  display: flex;
  align-items: center;
  font-size: 1.625rem;
}

// super flexible grid mixin from this source:  https://www.youtube.com/watch?v=LEkFckg7sfw
.grid-with-custom-settings {
  /* user setting */
  --min-column-size: 200px;
  --column-count: 4;
  --gap: 1rem;

  /* calculations */
  --breakpoint: calc(
    var(--min-column-size) * var(--column-count) + (var(--gap) * (var(--column-count) - 1))
  );
  --column-size: calc((100% / var(--column-count)) - var(--gap));

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(max(var(--column-size), (100% - var(--breakpoint)) * -999), 100%), 1fr)
  );
}

// width mixins
.w-100 {
  width: 100%;
}

@mixin customizable-grid($cols: 4, $notSmallerAs: 15rem, $gap: 1.5rem) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(max(100% / $cols - $gap, $notSmallerAs), 100%), 1fr)
  );
}

.grid-two-cols-wrap {
  @include customizable-grid(2, 13.5rem);
}

.grid-three-cols-wrap {
  @include customizable-grid(3, 13.5rem);
}

.grid-four-cols-wrap {
  @include customizable-grid(4, 13.5rem);
}
