/*
 || Custom scss classes, globally usable (utility classes like tailwind css) ||
                                                                           */

// padding mixins -------------------------------------------- //
.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pa-1 {
  padding: 1rem;
}

// margin mixins -------------------------------------------- //

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ma-1 {
  margin: 1rem;
}

// flex mixins -------------------------------------------- //

.flex {
  display: flex;
}

.flex-a-center-g1 {
  @extend .flex, .align-center, .gap-1, .wrap;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col-gap1 {
  display: flex !important;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flex-col-gap2 {
  display: flex !important;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.flex-1 {
  flex: 1;
}

.child-fx-1 {
  > * {
    @extend .flex-1
  }
}

.gap-1 {
  gap: var(--gap, 1rem);
}

.gap-2 {
  gap: var(--gap, 2rem) !important;
}

// grid mixins -------------------------------------------- //
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

// position mixins -------------------------------------------- //
.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-center {
  place-items: center;
  place-content: center;
}

// padding wrapper -------------------------------------------- //
.padding-wrapper-2 {
  padding: 2rem;
}

// cursor mixins -------------------------------------------- //
.pointer:hover {
  cursor: pointer;
}

// font mixins -------------------------------------------- //

.white {
  color: white;
}

.black {
  color: black;
}

.f700 {
  font-weight: 700;
}

.form-title {
  font-size: var(--f-size, 1.25rem);
  padding-bottom: var(--pb, 1rem);
  @extend .f700;
}

.form-subtitle {
  font-size: var(--f-size, 1rem);
  padding-bottom: var(--pb, 0.5rem);
  color: var(--tui-text-03);
}

.view-title {
  min-height: 45px;
  @extend .f700;

  display: flex;
  align-items: center;
  font-size: 1.625rem;

}

// super flexible grid mixin from this source:  https://www.youtube.com/watch?v=LEkFckg7sfw
.grid-with-custom-settings {
  /* user setting */
  --min-column-size: 200px;
  --column-count: 4;
  --gap: 1rem;

  /* calculations */
  --breakpoint: calc(var(--min-column-size) * var(--column-count) + (var(--gap) * (var(--column-count) - 1)));
  --column-size: calc((100% / var(--column-count)) - var(--gap));

  display: grid;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fit,
      minmax(min(max(var(--column-size), (100% - var(--breakpoint)) * -999), 100%), 1fr)
    );
}

