// common breakpoints  // the 88px (5.5rem) are coming from the nav-width
$nav-space: 88px;
$mobile-view: 499px + $nav-space;
$tablet-view: 849px  + $nav-space;
$laptop-view: 1019px  + $nav-space;
$desktop-view: 1020px  + $nav-space;

/* --------------------------------------------------------------------------------------------------------------- */
// IMPORTANT: the order (in .scss files) MUST be like here desktop > laptop > tablet > mobile to work as expected
/* --------------------------------------------------------------------------------------------------------------- */

// Mixin for each media query usable with @include x-view { scss }
@mixin desktop-view {
  @media screen and (min-width: $laptop-view) {
    @content;
  }
}

@mixin laptop-view {
  @media screen and (max-width: $laptop-view) {
    @content;
  }
}

@mixin tablet-view {
  @media screen and (max-width: $tablet-view) {
    @content;
  }
}

@mixin mobile-view {
  @media screen and (max-width: $mobile-view) {
    @content;
  }
}






