<app-header-layout>
  <ng-container left>
    <div class="view-title">
      {{ 'user.title' | translate }}
    </div>
  </ng-container>

  <div class="flex-a-center-g1" right>
    <!--  table search backend  -->

    <app-base-search (backendSearchEvent)="searchInUsers($event)" />

    <!--  table search highlight  -->
    <!--    <app-base-table-search [service]="userService" />-->

    <!--    add  -->
    <app-base-tui-button (clicked)="openCreateUserDialog()">
      {{ 'user.create' | translate }}
    </app-base-tui-button>
  </div>
</app-header-layout>
