<!-- HEADER -->
<div class="flex align-center justify-between">
  <h3>
    {{ alertTitleTranslationKey | transloco }}!
    @if (data.title === 'error' && data.errorStatus !== undefined) {
      Status: {{ data.errorStatus }}
    }
  </h3>

  <span matSnackBarActions>
    {{ currentDate() | date: 'dd.MM.yyyy, HH:mm' }}

    <button (click)="snackBarRef.dismissWithAction()" mat-icon-button matSnackBarAction type="button">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>

<!-- CONTENT -->
<div>
  @if (data.i18nKeyOrMessage) {
    {{ data.i18nKeyOrMessage | transloco }}
    @if (data.title === 'info') {
      !
    }
  }

  @if (data.title === 'success' && successMessageTranslationKey) {
    {{ successMessageTranslationKey | transloco }}
  }
</div>
