<!-- TODO: check sorting logic -->
<table
  *ngIf="sizedData$ | async as data"
  [columns]="columns"
  class="table"
  tuiTable
>
  <!-- HEAD / HEADERS -->
  <thead>
  <tr tuiThGroup>
    @for (header of allHeaders; track header) {
      <th
        *tuiHead="columns[$index]"
        (click)="onSortChange(columns[$index])"
        [resizable]="true"
        tuiTh
      >
        {{ header }}
      </th>
    }
  </tr>
  </thead>

  <!-- BODY / DATA -->
  <tbody
    *tuiLet="data | tuiTableSort as sortedData"
    [data]="sortedData"
    tuiTbody
  >
  <tr
    (click)="rowClickEvent.emit(item)"
    *ngFor="let item of sortedData"
    class="pointer"
    tuiTr
  >
    <!--  loop over the colum names displaying the corresponding data of it  -->
    @for (column of columns; track column) {
      <ng-container [ngSwitch]="column">
        <!--  loop over the custom columns able to be adjusted in the parent component  -->
        @for (cus of customColumns; track cus) {
          <ng-container *ngSwitchCase="customColumns ? customColumns[$index] : null">
            <td tuiTd *tuiCell="column">
              <ng-container *ngIf="cellTemplates?.[$index] as template">
                <ng-container
                  *ngTemplateOutlet="template; context: {$implicit: extractNestedProperty(item, column)}"
                ></ng-container>
              </ng-container>
              @if (!cellTemplates?.[$index]) {
                {{ extractNestedProperty(item, column) }}
              }
            </td>
          </ng-container>
        }
        <!-- default, only display value -->
        <ng-container *ngSwitchDefault>
          <td tuiTd *tuiCell="column">
            {{ extractNestedProperty(item, column) }}
          </td>
        </ng-container>
      </ng-container>
    }
  </tr>
  </tbody>

  <!--  footer with pagination-->
  <tfoot>
  <tr>
    <td [colSpan]="columns.length">
      <tui-table-pagination
        (paginationChange)="onChangePagination($event)"
        [page]="(page$ | async)|| 0"
        [size]="(size$ | async) || 0"
        [total]="(total$ | async) || 0"
        class="tui-space_top-2"
      ></tui-table-pagination>
    </td>
  </tr>
  </tfoot>
</table>

