<table
  [columns]="columns"
  class="table"
  tuiTable
>
  <!-- HEAD / HEADERS -->
  <thead>
  <tr tuiThGroup>
    @for (header of headers; track header) {
      <th
        *tuiHead="columns[$index]"
        [resizable]="true"
        (click)="onSortChange(columns[$index])"
        tuiTh
      >
        {{ header }}
      </th>
    }
  </tr>
  </thead>

  <!-- BODY / DATA -->
  <tbody
    [data]="tableData"
    tuiTbody
  >
  <tr
    *ngFor="let item of sizedData"
    tuiTr
  >
    <!--  loop over the colum names displaying the corresponding data of it  -->
    @for (column of columns; track column) {
      <td
        tuiTd
        *tuiCell="column"
      >
        {{ extractNestedProperty(item, column) }}
      </td>
    }
  </tr>
  </tbody>

  <!--  footer with pagination-->
  <tfoot>
  <tr>
    <td [colSpan]="columns.length">
      <tui-table-pagination
        (paginationChange)="onPage($event)"
        [page]="page"
        [size]="size"
        [total]="total || 0"
        class="tui-space_top-2"
      ></tui-table-pagination>
    </td>
  </tr>
  </tfoot>
</table>
