.table {
  width: 100%;
  border: 1px solid #e3e3e5;
  border-radius: 1rem;

  --tui-background-base: transparent;
}

[_nghost-ng-c2145402617] {
  padding: 0.5rem 1rem 1rem 1rem;
}

th {
  border: none;
}

.header-row-light {
  background-color: #f3f3f5;
}

.header-row-dark {
  background-color: #454545;
}

.match {
  background: var(--tui-background-neutral-1);
}


td {
  border-left: none;
  border-right: none;
}


/* Enhanced hover effect specificity */
.row-hovered-light:hover {
  background-color: hsl(180, 35%, 96%);
}

.row-hovered-dark:hover {
  background-color: #454545;
}


/* Top left and right rounded corners */
.table thead tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}


