.table {
  width: 100%;
  border: 1px solid #e3e3e5;
  border-radius: 1rem;
}

[_nghost-ng-c2145402617] {
  padding: 0.5rem 1rem 1rem 1rem;
}

th {
  background-color: #f3f3f5;
  border: none;
}

td {
  border-left: none;
  border-right: none;
}

.match {
  background: var(--tui-secondary);
}

/* Top left and right rounded corners */
.table thead tr:first-child th:first-child {
  border-top-left-radius: 1rem;

}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

.rowHovered:hover {
  background-color: hsl(180, 35%, 96%);

}

// table data bg = transparent, else it would override tr hover
[_nghost-ng-c2547322422] {
  background-color: transparent;
}


///* Bottom left and right rounded corners */
//.table tr:last-child td:first-child {
//  border-bottom-left-radius: 1rem;
//}
//
//.table tr:last-child td:last-child {
//  border-bottom-right-radius: 1rem;
//}
