<!-- TODO: check sorting logic -->
<ng-container *ngIf="sizedData() as data">
  <table
    *ngIf="hasData(); else empty"
    [columns]="columns()"
    class="table"
    tuiTable
  >
    <!-- HEAD / HEADERS -->
    <thead tuiThead>
      <tr
        [class.header-row-dark]="darkMode()"
        [class.header-row-light]="!darkMode()"
        tuiThGroup
      >
        <th
          (click)="onSortChange(columns()[i])"
          *ngFor="let header of headers(); let i = index"
          [resizable]="true"
          tuiTh
        >
          {{ header }}
        </th>
      </tr>
    </thead>

    <!-- BODY / DATA -->
    <tbody tuiTbody>
      <tr
        (click)="rowClickEvent.emit(item)"
        *ngFor="let item of data"
        [class.row-hovered-dark]="darkMode()"
        [class.row-hovered-light]="!darkMode()"
        class="pointer"
        tuiTr
      >
        <!-- loop over the column names displaying the corresponding data -->
        <ng-container *ngFor="let column of columns()">
          <td *tuiCell="column" [class.match]="isMatch(item[column])" tuiTd>
            <!--    case: has a matched cellTemplatesMap name   -->
            <ng-container *ngIf="cellTemplatesMap[column] as template">
              <ng-container
                *ngTemplateOutlet="
                  template;
                  context: {
                    $implicit: extractNestedProperty(item, column),
                    object: item,
                  }
                "
              ></ng-container>
            </ng-container>

            <!-- Default case, display the value in raw -->
            <ng-container *ngIf="!cellTemplatesMap[column]">
              <!-- If data is a acceptable date format, format it -->
              <ng-container
                *ngIf="extractNestedProperty(item, column) | isDate"
              >
                {{
                  extractNestedProperty(item, column) | date: 'dd.MM.yyyy HH:mm'
                }}
              </ng-container>
              <!-- If not date, display raw value -->
              <ng-container
                *ngIf="!(extractNestedProperty(item, column) | isDate)"
              >
                {{ extractNestedProperty(item, column) }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </tbody>

    <!--  footer with pagination-->
    <tfoot>
      <tr>
        <td [colSpan]="columns().length">
          <tui-table-pagination
            (paginationChange)="onChangePagination($event)"
            [page]="page() || 0"
            [size]="size() || 0"
            [total]="total() || 0"
            class="pa-1"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</ng-container>

<ng-template #empty>
  <div>
    {{ 'general.empty' | translate }}
  </div>
</ng-template>
