<div class="actions">
  <button
    (click)="onLeftBtnClick()"
    [appearance]="!leftBtnBg() ? 'primary' : ''"
    [size]="size()"
    [style.backgroundColor]="leftBtnBg()"
    [style.color]="leftBtnColor()"
    tuiButton
  >
    {{ leftBtnTxt() | translate }}
  </button>
  <button
    (click)="onRightBtnClick()"
    [appearance]="!rightBtnBg() ? 'secondary' : ''"
    [size]="size()"
    [style.backgroundColor]="rightBtnBg()"
    [style.color]="rightBtnColor()"
    tuiButton
  >
    {{ rightBtnTxt() | translate }}
  </button>
</div>


