<tui-tabs [(activeItemIndex)]="activeItemIndex">
  <button
    (click)="onClick('Maps')"
    tuiTab
  >
    <tui-svg
      class="tui-space_right-2"
      src="tuiIconCreditCard"
    ></tui-svg>
    Maps
  </button>
  <button
    (click)="onClick('Calls')"
    disabled
    tuiTab
  >
    <tui-svg
      class="tui-space_right-2"
      src="tuiIconPhone"
    ></tui-svg>
    Calls
  </button>
  <button
    (click)="onClick('Settings')"
    tuiTab
  >
    <tui-svg
      class="tui-space_right-2"
      src="tuiIconSettings"
    ></tui-svg>
    Settings
  </button>
</tui-tabs>
<tui-input-count
  [(ngModel)]="activeItemIndex"
  [max]="2"
  class="tui-space_top-4"
>
  activeItemIndex
</tui-input-count>
