<app-template-select-autocomplete
  [multiple]="true"
  [options]="[{ name: 'Joscha Sattler', value: 'value' }, { name: 'Joscha Sattler 2', value: 'value 2' }]"
/>

<!-- SIGNAL FORM EXAMPLE -->
<form (submit)="submitSignalFormExample(); $event.preventDefault()">
  <!-- FIRST NAME FIELD -->
  <div>
    <app-template-input label="First Name" [field]="userForm.firstName" />
    @if (userForm.firstName().touched() && userForm.firstName().invalid()) { @for (error of
    userForm.firstName().errors(); track error) {
    <p>{{ error.message }}</p>
    } }
  </div>

  <!-- LAST NAME FIELD -->
  <div>
    <app-template-input label="Last Name" [field]="userForm.lastName" />
    @if (userForm.lastName().touched() && userForm.lastName().invalid()) { @for (error of userForm.lastName().errors();
    track error) {
    <p>{{ error.message }}</p>
    } }
  </div>

  <!-- EMAIL ADDRESS FIELD -->
  <div>
    <app-template-input label="Email Address" type="text" [field]="userForm.emailAddress" />
    @if (userForm.emailAddress().touched() && userForm.emailAddress().invalid()) { @for (error of
    userForm.emailAddress().errors(); track error) {
    <p>{{ error.message }}</p>
    } }
  </div>

  <button type="submit" [disabled]="userForm().invalid()">Submit</button>
</form>

@if (submittedSignalFormValue()) {
<pre>{{ submittedSignalFormValue() | json }}</pre>
}
