<tui-select
  *tuiLet="items$() | async as items"
  [formControlName]="fControlName()"
  [valueContent]="items ? stringify(items) : loading"
>
  {{ label() | translate }}
  <ng-template tuiDataList>
    <tui-data-list *ngIf="items; else loading">
      <button
        *ngFor="let item of items"
        [value]="item[itemValue()] ?? item"
        tuiOption
        type="button"
      >
        {{ item[displayKey()] ?? 'unbekannt' }}
      </button>
    </tui-data-list>
  </ng-template>
  <ng-template #loading>
    <tui-loader class="tui-space_vertical-3 loader" />
  </ng-template>
</tui-select>
