<div class="table-container">
  <!-- Data table with pagination -->
  <table [dataSource]="tableData()" class="mat-elevation-z8" mat-table>
    @for (column of displayedColumns(); track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ headers()[$index] }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container
            *ngTemplateOutlet="
              cellTemplatesMap()[column]
                ? customCellTemplate
                : defaultCellTemplate;
              context: {
                $implicit: extractNestedProperty(element, column),
                element: element,
                column: column,
              }
            "
          >
          </ng-container>
        </td>
      </ng-container>
    }

    <!-- Header and data rows -->
    <tr *matHeaderRowDef="displayedColumns(); sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns()" mat-row></tr>
  </table>

  <!-- Pagination control -->
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="totalItemsCount()"
    [pageSizeOptions]="pageSizes()"
    [pageSize]="initialPageSize()"
  ></mat-paginator>

  <!-- Templates for cell rendering -->
  <ng-template
    #customCellTemplate
    let-column="column"
    let-element="element"
    let-value
  >
    <ng-container
      *ngTemplateOutlet="
        cellTemplatesMap()[column];
        context: {
          $implicit: value,
          object: element,
        }
      "
    ></ng-container>
  </ng-template>

  <ng-template #defaultCellTemplate let-value>
    @if (value | isDate) {
      {{ value | date: 'dd.MM.yyyy HH:mm' }}
    } @else {
      {{ value }}
    }
  </ng-template>
</div>
