[class*=" mat-column-"]:not(:last-child) {
  border-right: 1px solid black;
}

.table-container {
  table, mat-paginator {
    overflow: hidden;
    border-radius: 1rem;
  }

  mat-paginator {
    border-top: 1px solid black;
    border-radius: 0 0 1rem 1rem;
    padding-block: 0.5rem;
  }

  border: 1px solid black;
  border-radius: 1rem;
}

