<!-- TABLE CONTAINER -->
<div class="table-container">
  <p-table
    [value]="tableRowData()"
    [paginator]="true"
    [rows]="currentSelectedPageSize()"
    [lazy]="true"
    [rowsPerPageOptions]="availablePageSizeOptions()"
    [totalRecords]="totalRecordCount()"
    [first]="currentPageStartIndex()"
    (onPage)="handlePageChange($event)"
    [tableStyle]="{ 'mat-elevation-z8': true }"
    [scrollable]="true"
    [scrollHeight]="'flex'"
    [paginatorPosition]="'bottom'"
  >
    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
      <tr>
        @for (columnKey of displayedPropertyColumns(); track columnKey) {
        <th scope="col">{{ columnHeaderLabels()[$index] }}</th>
        }
      </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (columnKey of displayedPropertyColumns(); track columnKey) { @let cellValue =
        retrieveNestedPropertyValue(rowData, columnKey); @let cellTemplate = customCellTemplates()[columnKey];
        <td>
          @if (cellTemplate) {
          <ng-container
            [ngTemplateOutlet]="cellTemplate"
            [ngTemplateOutletContext]="{
                $implicit: cellValue,
                object: rowData,
              }"
          />
          } @else if (cellValue | isDate) { {{ cellValue | date: 'dd.MM.yyyy HH:mm' }} } @else { {{ cellValue }} }
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
