<div class="actions">
  <button
    (click)="onSubmit($event)"
    [disabled]="!(form) || form.invalid || customValidatorBoolean"
    appearance="primary"
    class="saveBtn"
    size="m"
    tuiButton
    type="submit"
  >
    {{ 'general.save' | translate }}
  </button>

  <button
    (click)="delete.emit()"
    *ngIf="showDeleteBtn"
    appearance="secondary-destructive"
    size="m"
    tuiButton
    type="button"
  >
    {{ 'common.button-delete' | translate }}
  </button>

  <button
    (click)="onCancel()"
    appearance="secondary"
    size="m"
    tuiButton
    type="button"
  >
    {{ 'general.cancel' | translate }}
  </button>
</div>
