@use "index" as *;

.grid-with-custom-settings {
  --min-column-size: 200px;
  --column-count: 2;
  --gap: 1rem;
}

.card {
  padding: 3rem;
}


@include mobile-view {
  .card {
    padding: 1rem;
  }
}
