<!-- title -->
<div class="view-title pb-1 flex-a-center-g1">
  {{ 'general.delete-title' | translate }}
  <tui-icon
    [icon]="'@tui.octagon-alert'"
    style="color: var(--warn-txt); transform: scale(1.1)"
  ></tui-icon>
</div>

<p>{{ 'general.delete-hint' | translate }}</p>

<hr />

<div class="button-wrapper pt-1">
  <button
    (click)="deleteEvent()"
    appearance="error"
    size="m"
    tuiButton
    type="button"
  >
    {{ 'general.delete' | translate }}
  </button>

  <button
    (click)="cancelEvent()"
    appearance="secondary"
    size="m"
    style="flex-grow: 1"
    tuiButton
    type="button"
  >
    {{ 'general.cancel' | translate }}
  </button>
</div>
