<!-- title -->
<div class="view-title pb-1">
  {{ 'general.delete-title' | translate }}
</div>

<div class="flex-a-center-g1 pb-1">
  <tui-icon [icon]="'@tui.alert-octagon'"></tui-icon>
  <p>{{ 'general.delete-hint' | translate }}</p>
</div>

<hr />

<div class="button-wrapper pt-1">
  <button
    (click)="deleteEvent()"
    appearance="error"
    size="m"
    tuiButton
    type="button"
  >
    {{ 'general.delete' | translate }}
  </button>

  <button
    (click)="cancelEvent()"
    appearance="secondary"
    size="m"
    style="flex-grow: 1"
    tuiButton
    type="button"
  >
    {{ 'general.cancel' | translate }}
  </button>
</div>
