<form
  (ngSubmit)="form.valid && submit()"
  [formGroup]="form!"
  class="flex flex-col gap-2"
>
  <app-template-input fControlName="username" label="general.username" />

  <app-template-input
    fControlName="password"
    label="general.password"
    type="password"
  />

  <span class="forgot-pw-button text-center pointer">
    {{ 'login.forgot-password' | transloco }}
  </span>

  <p-button
    type="submit"
    [disabled]="!form || form.invalid"
    label="{{ 'login.login-btn' | transloco }}"
    severity="success"
  />
</form>
