<!--  form  -->
<form
  (ngSubmit)="form?.valid && submit()"
  [formGroup]="form!"
  class="flex-col-gap1"
>
  <!--   username input   -->
  <app-template-input fControlName="username" label="general.username" />

  <!--   password input   -->
  <app-template-input
    fControlName="password"
    label="general.password"
    type="password"
  />

  <!-- forgot password, TODO: add forgot passwort dialog / logic -->
  <button (click)="isOpen.set(true)" class="forgot-pw-button" type="button">
    {{ 'login.forgot-password' | translate }}
  </button>

  <!-- login button -->
  <button [disabled]="!form || form.invalid">
    {{ 'login.login-btn' | translate }}
  </button>
</form>
