<app-header-layout>
  <div class="flex-a-center-g1" left>
    <!--  title  -->
    <div class="view-title">
      {{ 'tenant.title' | translate }}
    </div>

    <!--  tenant  dropdown  -->
    <form [formGroup]="form">
      <app-base-combobox
        (valueChange)="onTenantChange($event)"
        [dataArray]="tenants()"
        [hint]="'tenant.select'"
        fControlName="name"
      />
    </form>
  </div>

  <div class="flex-a-center-g1" right>
    <app-base-search [service]="tenantService" />
    <app-base-search-date [service]="tenantService" />

    <app-base-tabs
      (onTabIndexChange)="tabChange($event)"
      [tabArray]="tabArray()"
    />

    <!-- new tenant button -->
    <app-base-tui-button (clicked)="openCreateTenantDialog()">
      {{ 'tenant.create' | translate }}
    </app-base-tui-button>
  </div>
</app-header-layout>
