<app-header-layout>
  <div class="flex-a-center-g1" left>
    <!--  title  -->
    <div class="view-title">
      {{ 'tenant.title' | translate }}
    </div>

    <!--  tenant  dropdown  -->
    <form [formGroup]="form">
      <app-base-combobox
        (valueChange)="onTenantChange($event)"
        [dataArray]="tenants"
        [hint]="'tenant.select'"
        fControlName="name"
      />
    </form>
  </div>

  <div class="flex-a-center-g1" right>

    <form [formGroup]="searchForm" style="min-width: 10rem">
      <app-base-input
        (input)="onSearchChange($event)"
        fControlName="search"
        label="general.search"
        type="text"
      />
    </form>

    <!-- new tenant button -->
    <app-base-tui-button (clicked)="openAddTenantDialog()">
      {{ 'tenant.create'  | translate }}
    </app-base-tui-button>
  </div>

</app-header-layout>



