<app-header-layout>
  <div class="flex-a-center-g1" left>
    <!--  title  -->
    <div class="view-title">
      {{ 'tenant.title' | transloco }}
    </div>

    <!--  tenant  dropdown  -->
    <form [formGroup]="form"></form>
  </div>

  <div class="flex-a-center-g1" right>
    <app-template-table-search [service]="tenantService" />

    <!-- new tenant button -->
    <button
      (click)="openCreateTenantDialog()"
      color="secondary"
      mat-flat-button
    >
      {{ 'tenant.create' | transloco }}
    </button>
  </div>
</app-header-layout>
