.user-name {
  text-align: center;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
  color: var(--tui-primary);
  font-weight: 500;
  font-size: var(--tui-font-text-s);
}

.dropdown-btn {
  gap: 0.5rem;

  justify-content: start;
}
