<app-header-layout>
  <ng-container left>
    <div class="view-title">
      {{ 'customer.title-plural' | translate }}
    </div>
  </ng-container>

  <div class="flex-a-center-g1" right>
    <app-base-search (backendSearchEvent)="searchInCustomers($event)" />

    <form [formGroup]="form">
      <app-base-date-picker
        [service]="customerService"
        fControlName="date"
        tuiTextfieldSize="m"
      />
    </form>

    <app-base-tui-button (clicked)="openCreateCustomerDialog()">
      {{ 'customers.create' | translate }}
    </app-base-tui-button>
  </div>
</app-header-layout>
