<label *ngIf="!control.value" tuiInputFiles>
  <input [formControl]="control" tuiInputFiles />

  <ng-template #base>
    <ng-content />
  </ng-template>
</label>

<tui-files class="tui-space_top-1">
  <tui-file
    (remove)="removeFile()"
    *ngIf="loadedFiles$ | async as file"
    [file]="file"
  />

  <tui-file
    (remove)="removeFile()"
    *ngIf="failedFiles$ | async as file"
    [file]="file"
    state="error"
  />

  <tui-file
    (remove)="removeFile()"
    *ngIf="loadingFiles$ | async as file"
    [file]="file"
    state="loading"
  />
</tui-files>
