<!-- title -->
<div class="view-title pb-1">
  {{
    createUserMode() ? ('user.create' | translate) : ('user.update' | translate)
  }}
</div>

<!-- user form -->
@if (form) {
  <form
    (ngSubmit)="form.valid && submit()"
    [formGroup]="form"
    class="flex-col-gap1"
  >
    <app-two-inputs-row-layout>
      <!--  first name -->
      <app-base-input
        label="hint.firstName"
        fControlName="firstName"
        type="text"
      />

      <!--  last name -->
      <app-base-input
        label="hint.lastName"
        fControlName="lastName"
        type="text"
      />

      <!--  email -->
      <app-base-input label="hint.email" fControlName="email" type="email" />

      <!--  phone -->
      <app-base-input label="hint.phone" fControlName="phone" type="text" />
    </app-two-inputs-row-layout>

    <!--    <app-base-combobox-->
    <!--      [dataArray]=""-->
    <!--      fControlName="role"-->
    <!--    />-->

    <!--  actions  -->
    <app-base-save-cancel-btns (cancel)="closeDialog()" [form]="form" />
  </form>
}
