<app-base-table
  (rowClickEvent)="userClicked($event)"
  [cellTemplatesMap]="{ active, delete: deleteCell }"
  [columns]="columns()"
  [fetchData]="fetchDataFn"
  [headers]="headers()"
  [searchDate]="userService.searchDate$()"
  [search]="userService.search$()"
  [tabValueActive]="userService.tabValueActive$()"
>
  <ng-template #active let-value>
    <app-base-badge
      [status]="value ? 'success' : 'error'"
      [value]="value ? 'general.active' : 'general.inactive'"
    />
  </ng-template>

  <ng-template #deleteCell let-user="object">
    <app-delete-icon (click)="trashClicked(user); $event.stopPropagation()" />
  </ng-template>
</app-base-table>
