<mat-form-field appearance="outline" class="example-full-width" subscriptSizing="dynamic">
  <mat-label>{{ label() | transloco }}</mat-label>
  <input
    (dateChange)="selectedDateChanged($event.value)"
    [attr.id]="fControlName()"
    [matDatepicker]="picker"
    [max]="maxDate()"
    [min]="minDate()"
    [attr.name]="fControlName()"
    matInput
  />
  <!--  <mat-hint>MM/DD/YYYY</mat-hint>-->
  <mat-datepicker-toggle [for]="picker" matIconSuffix />
  <mat-datepicker #picker />
</mat-form-field>
