<!-- input -->
@switch (type()) {
  @case ('text') {
    <tui-input [tuiTextfieldSize]="size()" [formControlName]="fControlName()">
      {{ label | translate }}
      <input
        (tuiValueChanges)="onValueChange($event)"
        type="text"
        tuiTextfield
      />
    </tui-input>
  }
  @case ('email') {
    <tui-input [tuiTextfieldSize]="size()" [formControlName]="fControlName()">
      {{ label | translate }}
      <input type="email" tuiTextfield />
    </tui-input>
  }
  @case ('password') {
    <tui-input-password
      [tuiTextfieldSize]="size()"
      [formControlName]="fControlName()"
    >
      {{ label | translate }}
      <span class="tui-required"></span>
    </tui-input-password>
  }
  @case ('number') {
    <tui-input-number
      [tuiTextfieldSize]="size()"
      [formControlName]="fControlName()"
    >
      {{ label | translate }}
    </tui-input-number>
  }
}

<!-- input invalid, show error -->
<tui-error
  [error]="[] | tuiFieldError | async"
  [formControlName]="fControlName()"
></tui-error>
