@use 'index' as *;
@use '@angular/material' as mat;
@import 'assets/themes/theme.css';

// || CSS VARIABLES || #########################################################################################################||
:root {
  /* ----------------------------------------------------------------- */
  /*  ||CUSTOM CSS VARIABLES --> use scss files in assets/scss ||
  /* ----------------------------------------------------------------- */
}

mat-form-field {
  @include mat.theme(
    (
      density: -3,
    )
  );
}

tr,
th {
  @include mat.theme(
    (
      density: -2,
    )
  );
}

/* ----------------------------------------------------------------- */
/*  ||Angular Material adjustments ||
/* ----------------------------------------------------------------- */

html.dark-mode {
  color-scheme: dark;
}

.mat-mdc-card-header {
  padding-bottom: 1rem !important;
}

/* ---------------------------------- */
/*  || CSS RESET ||  -----------------*/
/* ---------------------------------- */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
}

/* min body height */

body {
  min-height: 100vh;
  //background: var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
}

/* responsive images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

//mat-snackbar
.custom-snackbar {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
}

.custom-snackbar-error {
  background-color: #f44336; /* Red background */
  color: white; /* White text */
}

// Snackbar colors

.snackbar-info {
  --mdc-snackbar-container-color: var(--info-container);
  --mdc-snackbar-supporting-text-color: var(--info-container-txt);
  --mat-sys-inverse-on-surface: var(--info-container-txt);
}

.snackbar-success {
  --mdc-snackbar-container-color: var(--success-bg);
  --mdc-snackbar-supporting-text-color: var(--success-txt);
  --mat-sys-inverse-on-surface: var(--success-txt);
}

.snackbar-error {
  --mdc-snackbar-container-color: var(--mat-sys-error-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error-container);
  --mat-sys-inverse-on-surface: var(--mat-sys-on-error-container);
}
