@use "index" as *;

// || CSS VARIABLES || #########################################################################################################||
:root {

  /* ----------------------------------------------------------------- */
  /*  ||CUSTOM CSS VARIABLES --> use scss files in assets/scss ||
  /* ----------------------------------------------------------------- */

  // Success
  --success-bg: #{$success-bg};
  --success-txt: #{$success-txt};

  // Warn
  --warn-bg: #{$warn-bg};
  --warn-txt: #{$warn-txt};

  // Error
  --error-bg: #{$error-bg};
  --error-txt: #{$error-txt};

  /* ----------------------------------------------------------------- */
  /*  || TAIGA UI COLOR ADJUSTMENTS --> exact variable name needed!||
  /* ----------------------------------------------------------------- */

  --tui-primary: hsl(162, 35%, 45%);
  --tui-primary-hover: hsl(162, 35%, 55%);

  --tui-secondary: hsl(162, 35%, 90%);
}

// #########################################################################################################||

/* ---------------------------------- */
/*  || CSS RESET ||  -----------------*/
/* ---------------------------------- */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
