@use "index" as *;
@use '@angular/material' as mat;


// || CSS VARIABLES || #########################################################################################################||
:root {

  --primary: hsl(210.48, 100%, 36.67%);
  --primary-light: hsl(210.48, 100%, 56.67%);
  --primary-hover: hsl(222, 100%, 82.16%);

  /* ----------------------------------------------------------------- */
  /*  ||CUSTOM CSS VARIABLES --> use scss files in assets/scss ||
  /* ----------------------------------------------------------------- */

  // Success
  --success-bg: #{$success-bg};
  --success-txt: #{$success-txt};

  // Warn
  --warn-bg: #{$warn-bg};
  --warn-txt: #{$warn-txt};

  // Error
  --error-bg: #{$error-bg};
  --error-txt: #{$error-txt};

  --delete-bg: #{$delete-bg};
}


/* ----------------------------------------------------------------- */
/*  ||Angular Material adjustments ||
/* ----------------------------------------------------------------- */


html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: -2
  ));
}


html.dark-mode {
  color-scheme: dark;
}

.mat-mdc-card-header {
  padding-bottom: 1rem !important;
}

/* ---------------------------------- */
/*  || CSS RESET ||  -----------------*/
/* ---------------------------------- */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

body {
  min-height: 100vh;

  //background: var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
}

/* responsive images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


