@use "index" as *;


:root {
  // Success
  --success-bg: #{$success-bg};
  --success-txt: #{$success-txt};

  // Warn
  --warn-bg: #{$warn-bg};
  --warn-txt: #{$warn-txt};

  // Error
  --error-bg: #{$error-bg};
  --error-txt: #{$error-txt};

  // override TUI values -> you need the exact tui var name ----------------------- // >>
  --tui-primary: #4b9b83;
}

/* ---------------------------------- */
/*  || CSS RESET ||  -----------------*/
/* ---------------------------------- */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
