.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;

  background-color: var(--tui-background-base-alt);

  width: 5.5rem;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;

  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.nav-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  margin-bottom: 1rem;
  background-color: var(--tui-background-accent-1);

  display: flex;
  justify-content: center;
  align-items: center;
}
