<div class="sidebar-wrapper">
  <div class="container">
    <div class="logo-and-nav-items">
      <div class="logo-wrapper">{{ 'general.logo' | transloco }}</div>

      <div class="nav-items-wrapper">
        @for (navItem of navItems(); track navItem) {
          <p-button
            [routerLink]="[navItem.link]"
            [class.active-btn]="rla.isActive"
            routerLinkActive
            #rla="routerLinkActive"
            [icon]="navItem.icon"
            [rounded]="true"
            [text]="true"
          />
        }
      </div>
    </div>
  </div>
</div>