<!-- TODO: (Taiga UI migration) labels positioning on x axes were updated. Add empty string to axisXLabels array. See https://taiga-ui.dev/charts/axes -->
<tui-axes
  [axisXLabels]="months"
  [horizontalLines]="0"
  [tuiLineChartHint]="hintContent"
  [verticalLines]="months.length"
  class="axes"
>
  <tui-line-chart
    [filled]="true"
    [height]="getHighestArrayValue()"
    [value]="values"
    [width]="months.length"
    [xStringify]="stringifyMonths"
    [yStringify]="stringifyValues"
  ></tui-line-chart>
</tui-axes>
