<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [header]="isCreateCustomerMode() ? ('customer.create' | transloco) : ('customer.edit' | transloco)"
  [style]="{ width: '25rem' }"
>
  @if (form) {
    <form (ngSubmit)="form!.valid && submit()" [formGroup]="form" class="pt-2 pb-2">
      <app-template-input fControlName="name" label="general.name" />
    </form>

    <div class="flex gap-2">
      <app-save-btn (clickEvent)="submit()" [disabled]="form.invalid" />
      <app-cancel-btn (cancelEvent)="closeDialog()" />
    </div>
  }
</p-dialog>